<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../views/css/customer.css">
    <script src="../views/js/customer.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Customer Dashboard</h2>
        <a href="#">Cart</a>
        <a href="#">Orders</a>
        <a href="#">Chat with Vendor</a>
        <a href="#">Write Review</a>
    </div>
    
    <div class="main">
        <h2>Welcome to your Dashboard</h2>
        <div class="cards"></div>
    </div>
</body>
</html>
