<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../views/css/customer.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="orders-icon">
            <img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/cardboard-box.png" alt="cardboard-box"/>
        </div>
        <div id="cart-icon">
            <img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/shopping-cart--v2.png" alt="shopping-cart--v2"/> 
        </div>
    </header>

    <div class="main">
        <h2>Welcome to your Dashboard</h2>
        <div class="cards"></div>
    </div>
    
    <div id="cart-container" class="hidden">
        <h3>Your Cart</h3>
        <div class="cart-items"></div>
        <div class="total-price"></div>
        <button class="checkout-btn" onclick="checkout()">Checkout</button>
    </div>

    <script src="../views/js/customer.js"></script>
</body>
</html>
